body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: yellow;
}

.prueba {
	color: red;
	
}

#fondoARI{
	background-color: green;
	
	margin-left:5px;	
	
	
}

span#prueba1{
	color: purple;
	
}

.margen1{
	border: 15px dotted yellow;
	margin-right:20%;
}

.desplazamiento1{
	
	
	background: blue;
	margin:5%;
	padding:2%;
	width: 33.33%;
	
}

.desplazamiento2{
	
	
	background: teal;
	margin:5%;
	padding:2%;
	width: 33.33%;
	
	
}

.vacio{
	background-color:white;
	width:20px;
	
	
	
}
div{
	
	float:left;
	
	margin-left:auto;
}


div.pueblos{
	
	background-color: red;
	
}

a{
	margin:3%;
	
	
}

.pueblos ol {
	
	font-weight: bold;

}

ul {
  list-style-type: disc;
}
.cuadrado{
  list-style-type: square;
}

a{
	
	margin:4px;
}